body{
    padding: 1em;
}

h1{
    text-align: center;
}

.blog-img{
    height: 20em;
    width: auto;
    padding: 1vh 10vw;
}

.blog-story{
    text-align: center;
    padding: 1em 3em;
}


.blog-heading{
    text-align: center;
}

.blog-section{
    padding: 2vh 0;
}
